<div style="width: 100%; display: flex; justify-content: center;">
    <nav class="navbar_nouser">
        <ul>
            <li><a class="navbar_nouser_link" href="#">Home</a></li>
            <li><a class="navbar_nouser_link" href="#">About</a></li>
            <li><a class="navbar_nouser_link" href="#">Blog</a></li>
            <li><a class="navbar_nouser_link" href="#">Licenses</a></li>
            <li><a class="navbar_nouser_link" href="#">Contact</a></li>
        </ul>
    </nav>
</div>

<script>

    var linkArr = Array.from(document.querySelectorAll(".navbar_nouser_link"));
    linkArr.forEach(function(link, index, arr) {
        link.addEventListener("click", function() {
            arr.forEach(function(el) {
                el.style.borderBottom = "none";
            });
            link.style.borderBottom = "3px solid white";
        });
        link.addEventListener
    });

</script>