<div style="width: 100%; display: flex; justify-content: center;">
    <nav class="navbar_nouser">
        <ul>
            <li><a class="" href="">Home</a></li>
            <li><a class="" href="">About</a></li>
            <li>< class=""a class="" href="">Blog</a></li>
            <li><a class="" href="">Licenses</a></li>
            <li><a class="" href="">Contact</a></li>
        </ul>
</div>
</nav>