<div style="width: 100%; display: flex; justify-content: center;">
    <nav class="navbar_nouser">
        <ul>
            <li><a class="nav" href="">Home</a></li>
            <li><a class="nav" href="">About</a></li>
            <li><a class="nav" href="">Blog</a></li>
            <li><a class="nav" href="">Licenses</a></li>
            <li><a class="nav" href="">Contact</a></li>
        </ul>
</div>
</nav>