<div style="width: 100%; display: flex; justify-content: center;">
    <nav class="navbar_nouser">
        <ul>
            <li><a class="navbar_nouser_link" href="#">Home</a></li>
            <li><a class="navbar_nouser_link" href="#">About</a></li>
            <li><a class="navbar_nouser_link" href="#">Blog</a></li>
            <li><a class="navbar_nouser_link" href="#">Licenses</a></li>
            <li><a class="navbar_nouser_link" href="#">Contact</a></li>
        </ul>
    </nav>
</div>

<script>

    var Arrary.from(document.querySelectorAll(".navbar_nouser_link"));
    .addEventListener("click", function() {
        console.log("Clicked!");
    })

</script>