<div style="width: 100%; display: flex; justify-content: center;">
    <nav class="navbar_nouser">
        <ul>
            <li><a cla href="">Home</a></li>
            <li><a cla href="">About</a></li>
            <li>< claa cla href="">Blog</a></li>
            <li><a cla href="">Licenses</a></li>
            <li><a cla href="">Contact</a></li>
        </ul>
</div>
</nav>