
var formHolder = document.getElementById("form-holder");
var buttonHolder = document.getElementById("button-holder");
var doctorButton = document.getElementById("doctor-button");
var hospitalButton = document.getElementById("hospital-button");

buttonHolder.addEventListener("click", function(e) {
    if(e.target.value === "doctor") {
        console.log("doctor.");
        formHolder.innerHTML = `
        <form action="/referrers/login" method="POST">
            <div class="row g-3 align-items-center justify-content-center" style="width: 30%; margin: 0 auto;">
                <p class="text-center text-wrap text-break" id="login-info" style="height: auto; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #374046; color: white;">Login as a doctor</p>
                <!--Username-->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
                <!--Password-->
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <!--Button-->
                <div class="button-group" style="width: 100%;">
                    <input type="submit" class="button btn btn-primary" value="Login" style="width: 100%;">
                </div>
            </div>
        </form>
        `;
        doctorButton.classList.add("btn-primary");
        doctorButton.classList.remove("btn-outline-primary");
        hospitalButton.classList.add("btn-outline-primary");
        hospitalButton.classList.remove("btn-primary");

        return
    }
    if(e.target.value === "hospital") {
        console.log("Hospital.");
        formHolder.innerHTML = `
        <form action="/hospitals/login" method="POST">
            <div class="row g-3 align-items-center justify-content-center" style="width: 30%; margin: 0 auto;">
                <p class="text-center text-wrap text-break" id="login-info" style="height: auto; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #374046; color: white;">Login as a hospital</p>
                <!--Username-->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
                <!--Password-->
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <!--Button-->
                <div class="button-group" style="width: 100%;">
                    <input type="submit" class="button btn btn-primary" value="Login" style="width: 100%;">
                </div>
            </div>
        </form>
        `;
        doctorButton.classList.remove("btn-primary");
        doctorButton.classList.add("btn-outline-primary");
        hospitalButton.classList.remove("btn-outline-primary");
        hospitalButton.classList.add("btn-primary");
    }
});