<!--PATIENT, DOCTORS & HOSPITALS COUNT-->
<footer class="bg-light text-black pt-5 pb-4" id="footer">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <p class="text-black  text-bold display-6 text-muted lh-1" style="letter-spacing: 5px;">Since 2021</p>
            <p class="text-muted lh-1">Our partners and us have done an amazing job at bringing patients a step closer to receiving quality healthcare.</p>
        </div>

        <br><br>

        <div class="row text-center text-md-left">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <div class="info__circle bg-warning">
                    <h1 class="display-1 text-white">
                        <strong><%= patientCount %></strong>
                    </h1>
                </div>
                <h5 class="text-uppercase mb-4 font-weight-bold text-muted display-6">Patients</h5>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <div class="info__circle bg-warning">
                    <h1 class="display-1 text-white">
                        <strong><%= referrerCount %></strong>
                    </h1>
                </div>
                <h5 class="text-uppercase mb-4 font-weight-bold text-muted display-6">Doctors</h5>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <div class="info__circle bg-warning">
                    <h1 class="display-1 text-white">
                        <strong><%= hospitalCount %></strong>
                    </h1>
                </div>
                <h5 class="text-uppercase mb-4 font-weight-bold text-muted display-6">Hospitals</h5>
            </div>
        </div>
    </div>
</footer>

<!--FOOTER-->
<footer class="bg-dark text-white pt-5 pb-4" id="footer">
    <div class="container text-left text-md-left">
        <div class="row text-left text-md-left">
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-success">Fastclinic</h5>
                <!--
                <p><a href="/about" class="text-white " style="text-decoration: none;">About</a></p>
                -->
                <p><a href="/about" class="text-white" style="text-decoration: none;">About us</a></p>
                <p><a href="/blog" class="text-white" style="text-decoration: none;">Fastclinic blog</a></p>
                <p><a href="/faq" class="text-white" style="text-decoration: none;">FAQs</a></p>
                <p><a href="/terms" class="text-white" style="text-decoration: none;">Terms of use</a></p>
                <p><a href="/privacy" class="text-white" style="text-decoration: none;">Privacy policy</a></p>
                <p><a href="/contact" class="text-white" style="text-decoration: none;">Contact us</a></p>
            </div>

            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-success">Hospitals</h5>
                <p><a href="/hospitals" class="text-white" style="text-decoration: none;">Partner hospitals</a></p>
                <p><a href="/contact" class="text-white" style="text-decoration: none;">Become a partner</a></p>
            </div>

            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-success">Referrers</h5>
                <p><a href="/contact" class="text-white" style="text-decoration: none;">Become a referrer</a></p>
            </div>

            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-success">Patients</h5>
                <p><a href="/contact" class="text-white" style="text-decoration: none;">Make a complaint</a></p>
            </div>

            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-success">General Public</h5>
                <p><a href="/contact" class="text-white" style="text-decoration: none;">Raise a concern</a></p>
            </div>

            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class=" mb-4 font-weight-bold text-success">Contact</h5>
                <p>Suncity, Abuja 900107</p>
                <p>hello@myfastclinic.com</p>
                <p>+234(0)806-019-4496</p>
                <p>+234(0)913-228-3783</p>
            </div>
        </div>
        <br><br><br><br><br>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="" style="font-size: 0.8rem;">
                    Copyright &copy; 2021 Fastclinic. All rights reserved.
                </p>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://web.facebook.com/Fastclinic-102594321965043" class="btn-floating btn-sm text-white" target="_blank" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/Fast_clinic" class="btn-floating btn-sm text-white" target="_blank" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://wa.me/2348060194496" target="_blank" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-whatsapp"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    // Toggle nav links visibility
    var hiddenNavLinks = document.getElementById("hiddenNavLinks");
    var showLinksButton = document.getElementById("show_links");
    showLinksButton.addEventListener("click", function() {
        hiddenNavLinks.classList.toggle("toggleHide");
        hiddenNavLinks.classList.toggle("toggleShow");
        showLinksButton.classList.toggle("rotate_180");
    });

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    // Close alert to create commission rates
    document.getElementById("createCRAlertSpan").addEventListener("click", function() {
        document.getElementById("createCRAlertDiv").innerHTML = '';
    });
</script>
</body>

</html>