<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    // TOGGLE VISIBILITY OF NAVBAR LINKS
    var hiddenNavLinks = document.getElementById("hiddenNavLinks");
    var showLinksButton = document.getElementById("show_links");
    showLinksButton.addEventListener("click", function() {
        hiddenNavLinks.classList.toggle("toggleHide");
        hiddenNavLinks.classList.toggle("toggleShow");
        showLinksButton.classList.toggle("rotate_180");
    });

    // DISABLE FORM SUBMISSION IF THERE ARE INVALID FIELDS
    (function() {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                // Add 'submit' event listener to form
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    // CLOSE BOX THAT ALERTS HOSPITALS TO CREATE THEIR COMMISSION RATES
    document.getElementById("createCRAlertSpan").addEventListener("click", function() {
        document.getElementById("createCRAlertDiv").innerHTML = '';
    });
</script>

</body>

</html>