<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center sticky-sm-top" id="header">
            <h1 class="header-h1-text">Hospitals</h1>
        </header>
        
        <%- include("../partials/alert.ejs") %><br>
        
        <div>
            
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>