<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container" style="display: flex; justify-content: center;">
        <div class="livechat">
            <div class="messages overflow-auto" style="width: 100%;">
                <div>
                    <p>Time</p>
                    <p></p>
                </div>
            </div>
            <form action="/referrers/<%=currentUser._id%>/messages" method="POST" id="livechat-form" style="margin: 0;">
                <div id="message_div">
                    <input type="text" name="content" placeholder="Start typing..." id="message_input">
                    <button type="submit" id="message_button"><i class="fas fa-paper-plane"></i>Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/socketio.ejs") %>
<%- include("../partials/footer.ejs") %>