<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <!--CLOCK-->
                <div class="analog">
                    <div class="hand hour"></div>
                    <div class="hand minute"></div>
                    <div class="hand second"></div>
                </div>
            </div>
            <h1 class="header-h1-text">Sign In</h1>
            <p style="cursor: pointer;"><i class="fas fa-chevron-down" id="show_links"></i></p>
            <%- include("../partials/navbar_nouser.ejs") %>
        </header>

        <%- include("../partials/alert.ejs") %> 
        <br>
        
        <div class="form_div">
            <form action="/admin/login" method="POST">
                <div class="row g-3 align-items-center justify-content-center" style="width: 30%; margin: 0 auto;">
                    <!--Username-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <!--Password-->
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <!--Button-->
                    <div class="button-group" style="width: 100%;">
                        <input type="submit" class="button btn btn-primary" value="Login" style="width: 100%; font-family: 'Poppins', sans-serif;">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>