<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">


        <%- include("../partials/alert.ejs") %>
        <br>
        
        <div class="container" style="background-color: white; padding: 1rem;">

        </div>
    </div>
</div>
<footer class="text-muted text-center position-relative bottom-0" id="footer" style="font-size: 0.7rem;">Designed and developed by <a href="https://web.facebook.com/Overstack-102533051819877" target="_blank">Overstack </a> &#169;2021</footer>

<%- include("../partials/footer.ejs") %>