<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <div class="back"></div>
        <div class="heart"></div>
        <div>
            <img src="https://i.ibb.co/tD5YVxW/24-4.png" alt="24-4" border="0">
        </div>
    </div>
</div>
<script>
    var containerFluid = document.getElementById("container-fluid");
    
    window.setTimeout(function() {
        window.location.href = "/home";
    }, 2000);
</script>

<%- include("../partials/footer.ejs") %>