<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
  <div class="back"></div>
  <div class="heart"></div>
</div>
<script>
  var containerFluid = document.getElementById("container-fluid");
  window.setTimeout(function() {
    containerFluid.innerHTML = ``;
    containerFluid.innerHTML = 
    `  
    <div class="container" style="height: 100vh;">
        <header class="bg-light p-5 rounded-lg m-3 text-center sticky-sm-top" id="header">
            <h1 class="header-h1-text">PATIENTREF</h1>
            <small class="text-center">Create a username and password to register.</small>
        </header>

        <%- include("../partials/alert.ejs") %>
        <div style="height: 70vh; display: grid;">
          <div id="button-holder" style="width: 30%; margin: 0 auto; display: flex;">
            <button id="doctor-button" class="text-break text-wrap button btn btn-primary" value="doctor" style="margin: 0.2rem; border-width: 2px;">Doctor</button>
            <button id="hospital-button" class="text-break text-wrap button btn btn-outline-primary" value="hospital" style="margin: 0.2rem; border-width: 2px;">Hospital</button>
          </div>
          <br>
          <div id="form-holder">
            <form action="/referrers/register" method="POST">
              <div class="row g-3 align-items-center justify-content-center" style="width: 30%; margin: 0 auto;">
                  <p class="text-center text-wrap text-break" id="login-info" style="height: auto; padding: 1rem; width: 95%; border-radius: 5px; font-family: 'Open Sans', 'Poppins', sans-serif; background-color: #374046; color: white;">Login as a doctor</p>
                  <!--Username-->
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="username" name="username" required>
                      <label for="username">Username</label>
                  </div>
                  <!--Password-->
                  <div class="form-floating">
                      <input type="password" class="form-control" id="password" name="password" required>
                      <label for="password">Password</label>
                  </div>
                  <!--Button-->
                  <div class="button-group" style="width: 100%;">
                      <input type="submit" class="button btn btn-primary" value="Create account" style="width: 100%; font-family: 'Poppins', sans-serif;">
                  </div>
              </div>
              <br>
              <p class="text-center lh-1" style="display: flex; align-items: center; justify-content: center;">
                <input type="checkbox" id="terms" required style="margin-right: 0.5rem;">
                <label for="terms" style="font-size: 0.8rem;">I acknowledge that I have read and agree to the <a href="/terms" target="_blank">Terms and Conditions</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.</label>
              </p>
              <p class="text-center text-muted lh-1" style="font-size: 0.8rem">We'll never share your personal info with anyone else.</p>
              <p class="text-center" style="padding: 1rem;">Already registered? <a href="/login" style="font-family: 'Poppins', sans-serif;">Login</a></p>
            </form>
          </div>
        </div>
    </div>
    
    <%- include("../partials/footerBanner.ejs") %>

    <div class="container-fluid" id="footer-container">
        <div class="footer-container-content"></div>
        <hr class="hr-bottom">
        <p class="text-center">©2021. All Rights Reserved. PATIENTREF®</p>
        <div class="socials">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
    </div>

    
        `;
      }, 2000);
    </script>

<%- include("../partials/footer.ejs") %>