<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
  </head>
  <body>
    
  </body>
</html>
<div class="container-fluid" id="container-fluid">
  <div class="back"></div>
  <div class="heart"></div>
</div>
<script>
  var containerFluid = document.getElementById("container-fluid");
  window.setTimeout(function() {
    window.location.href = "/register";
  }, 2000);
</script>