<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
  <div class="back"></div>
  <div class="heart"></div>
</div>
<script>
  var containerFluid = document.getElementById("container-fluid");
  window.setTimeout(function() {
    window.location.href = "/register";
  }, 2000);
</script>
<% var pageTitle = "Create an account" %> 
<%- include("../partials/footer.ejs") %>