<%- include("../partials/header.ejs") %>

    <div id="home__intro--container">
        <div class="container-fluid" id="container-fluid">
            <div style="display: grid; justify-content: center; align-items: center;">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <p class="display-6 text-white">
                        <img src="https://i.ibb.co/PmwPpHt/24-3.png" style="width: 60px; height: 60px;" border="0" alt="Fastclinic logo.">
                    </p>
                </div>
                <h1 class="display-1 text-white">fastclinic</h1>
                <% if(!currentUser) { %>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-right: 7px;" href="/login">Login</a>
                        <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-left: 7px;" href="/register">Register</a>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="flexer">
            <section style="position: relative; width: 100%; height: 60vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div class="small-content article__content">
                    <p><i class="fas fa-heartbeat text-white big-icon"></i></p>
                    <p class="lead text-white lh-1" style="font-family: 'Josefin sans', sans-serif;">We bridge the gap between patients and quality healthcare. Fastclinic eliminates the bottlenecks in the patient referral pipeline by seamlessly matching patients with the best health and care facilities nearest to them.</p>
                </div>
            </section>
        </div>
    </div>
    <article class="content flexer home__article" id="articleOne">
        <section style="position: relative;">
            <div class="small-content article__content">
                <p class="text-center"><i class="fas fa-procedures text-white big-icon"></i></p>
                <p class="lead lh-1 text-white" style="font-family: 'Josefin sans', sans-serif;">
                    We provide a vital organ to the system of solving this problem by redirecting patient flow from overcrowded hospitals to highly functional, efficient and less crowded ones closest to the patients.
                </p>
            </div>
        </section>
        <% if(!currentUser) { %>
            <div style="display: flex; justify-content: center; align-items: center;">
                <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-right: 7px;" href="/login">Login</a>
                <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-left: 7px;" href="/register">Register</a>
            </div>
            <% } %>
    </article>
    <article class="content flexer home__article" id="articleTwo">
        <section style="position: relative;">
            <div class="small-content article__content">
                <p class="text-center"><i class="fas fa-clock text-white big-icon"></i></p>
                <p class="lead text-white lh-1" style="font-family: 'Josefin sans', sans-serif;">
                    Our referrers effectively shorten waiting time by easing patient throughput in over-booked institutions, and transferring same to institutions that have the capacity and quality to handle it.
                </p>
            </div>
        </section>
        <% if(!currentUser) { %>
            <div style="display: flex; justify-content: center; align-items: center;">
                <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-right: 7px;" href="/login">Login</a>
                <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-left: 7px;" href="/register">Register</a>
            </div>
            <% } %>
    </article>
    <article class="content flexer home__article" id="articleThree">
        <section style="position: relative;">
            <div class="small-content article__content">
                <p class="text-center"><i class="fas fa-user-md text-white big-icon"></i></p>
                <p class="lead lh-1 text-white" style="font-family: 'Josefin sans', sans-serif;">
                    At Fastclinic we are helping to shape the future of healthcare – which we believe is largely remote.
                </p>
            </div>
        </section>
        <% if(!currentUser) { %>
            <div style="display: flex; justify-content: center; align-items: center;">
                <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-right: 7px;" href="/login">Login</a>
                <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-left: 7px;" href="/register">Register</a>
            </div>
            <% } %>
    </article>
    <article class="content flexer home__article" id="articleFour">
        <section style="position: relative;">
            <div class="small-content article__content">
                <p class="text-center"><i class="fas fa-feather-alt text-white big-icon"></i></p>
                <p class="lead lh-1 text-white" style="font-family: 'Josefin sans', sans-serif;">
                    If you are passionate about health & wellness and would like to be part of our writers team, get in touch with us by clicking either of the buttons below. You can also suggest quality articles you think we could feature on our blog.
                </p>
            </div>
        </section>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-right: 7px;" href="/contact">Write
                for us</a>
            <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-left: 7px;" href="/contact">Suggest
                articles</a>
        </div>
    </article>

    <%- include("../partials/footer.ejs") %>