<%- include("../partials/header.ejs") %>

    <div style="position: relative;">
        <div id="home__intro--container">
            <div class="container-fluid" id="container-fluid">
                <div style="display: grid; justify-content: center; align-items: center;">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <a href="/home">
                            <img src="https://i.ibb.co/PmwPpHt/24-3.png" style="width: 60px; height: 60px;" border="0" alt="Fastclinic logo.">
                        </a>
                        <a href="/home">
                            <span class="text-white display-6 bold-text">fastclinic</span>
                        </a>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <% if(!currentUser) { %>
                            <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-right: 7px;" href="/login">Login</a>
                            <a class="text-white" style="text-decoration: underline; font-size: 12px; margin-left: 7px;" href="/register">Register</a>
                            <% } %>
                    </div>
                </div>
            </div>
            <div style="position: relative; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div class="small-content" style="background: none; margin-top: 50vh;">
                    <p><i class="fas fa-heartbeat text-white big-icon"></i></p>
                    <p class="lead text-white lh-1" style="font-family: 'Josefin sans', sans-serif;">We bridge the gap between patients and quality healthcare. Fastclinic eliminates the bottlenecks in the patient referral pipeline by seamlessly matching patients with the best health and care facilities nearest to them.</p>
                </div>
            </div>
        </div>
        <article class="content home__article" id="articleOne">
            <section style="position: relative;">
                <div class="small-content" style="background: none; margin-top: 50vh">
                    <p class="text-center"><i class="fas fa-procedures text-white big-icon"></i></p>
                    <p class="lead text-center lh-1 text-white" style="font-family: 'Josefin sans', sans-serif;">
                        At Fastclnic we believe that everyone has a right to quality healthcare. Standing as obstructions to quality healthcare delivery in Nigeria are factors such as hospital overcrowding, insufficient or ineffective facilities, and shortage of healthcare practitioners.
                        Hospital overcrowding, for one, is a major cause of reduced effectiveness and increased frustration among physicians and allied health practitioners. The consequence of work-related frustration and reduced vigor and healthcare
                        works is reduced quality of clinical services. This is a problem; so how do we solve it? Fastclinic provides a vital organ to the system of solving this problem by redirecting patient flow from overcrowded hospitals to highly functional,
                        efficient and less crowded ones closest to the patients.
                    </p>
                </div>
            </section>
        </article>
        <article class="content home__article" id="articleTwo">
            <section style="position: relative;">
                <div class="small-content" style="background: none; margin-top: 50vh;">
                    <p class="text-center"><i class="fas fa-clock text-white big-icon"></i></p>
                    <p class="lead text-white text-left lh-1" style="font-family: 'Josefin sans', sans-serif;">
                        The average patient spends substantial amount of time in the hospital waiting for services to be rendered by clinicians and other health professionals. Patient waiting time is a crucial factor in the healthcare delivery pipeline and is a major determinant
                        of healthcare quality as well as patient satisfaction. According to research, patient waiting time hovers around 2 - 3 hours on the average in the outpatient departments of (especially public) hospitals in Nigeria. That is an outrageous
                        amount of time to spend waiting for healthcare services, in any context. Fastclinic referrers effectively shorten waiting time by easing patient throughput in over-booked institutions, and transferring same to institutions that
                        have the capacity and quality to handle it.
                    </p>
                    <br><br><br>
                </div>
            </section>
        </article>
        <article class="content home__article" id="articleThree">
            <section style="position: relative;">
                <div class="small-content" style="background: none; margin-top: 50vh;">
                    <p class="text-center"><i class="fas fa-user-md text-white big-icon"></i></p>
                    <p class="lead text-left lh-1 text-white" style="font-family: 'Josefin sans', sans-serif;">
                        We have a great team of physicians who are helping to bolster the clinical service delivery pipeline by moving patients closer to effective healthcare. By registering as a referrer for Fastclinic, you would not only be joining a community of highly respected
                        medical practitioners, you would also be contributing to a global effort to make quality healthcare accessible to all. Hospitals that sign up at Fastclinic are recording improved patient throughput, and patients are reporting shorter
                        waiting times and better healthcare services overall. We at Fastclinic are helping to shape the future of healthcare – which we believe is largely remote.
                    </p>
                    <br><br><br>
                </div>
            </section>
        </article>
        <article class="content home__article" id="articleFour">
            <section style="position: relative;">
                <div class="small-content" style="background: none; margin-top: 50vh;">
                    <p class="text-center"><i class="fas fa-feather-alt text-white big-icon"></i></p>
                    <p class="lead text-left lh-1 text-white" style="font-family: 'Josefin sans', sans-serif;">
                        We take healthcare delivery and general wellbeing very seriously; and we love to populate our blog with articles that project our culture and leanings. Because there is so much to write about when it comes to human wellbeing and there is only so much
                        time on our hands, we would like to outsource articles. If you are passionate about health & wellness and would like to be part of our writers team, get in touch with us by clicking either of the buttons below. You can also suggest
                        quality articles you think we could feature on our blog. We pay for every article and suggestion upon approval.
                    </p>
                    <br><br><br>
                </div>
            </section>
        </article>
    </div>

    <%- include("../partials/footer.ejs") %>