<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid" style="overflow: hidden; background-color: white; width: 100%; height: 100%">
    <div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img class="fastclinic__logo" src="https://i.ibb.co/tD5YVxW/24-4.png" alt="24-4" border="0">
        <div class="lds-heart">
            <div></div>
        </div>
    </div>
</div>
<script>
    var containerFluid = document.getElementById("container-fluid");

    window.setTimeout(function() {
        window.location.href = "/home";
    }, 5000);
</script>