@font-face {
    font-family: 'klavika-medium';
    src: url('klavikamedium-tf-webfont.woff2') format('woff2'), url('klavikamedium-tf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}