<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center sticky-sm-top" id="header">
            <h1 class="header-h1-text">Contact Us</h1>
        </header>
        <br>

        <!--Email-->
        <div id="email" style="height: auto; border: 1px solid lightgrey; background-color: white; padding: 1rem; width: 50%; margin: 0 auto 2rem auto;">
            <h1 class="header-h1-text text-center">Email</h1>
            <hr>
            <br><br>
            <p class="text-center"><i style="margin-right: 1rem; font-size: 1.5rem;" class="fas fa-envelope align-middle"></i> <a class="lead" href="#">patientref@gmail.com</a></p>
        </div><br>

        <!--Live chat: new message-->
        <div id="message">
            <button class="button btn btn-prinary">

            </button>
            <form action="/referrers/<%=currentUser._id%>/messages" method="POST">
                <div style="width: 50%; margin: 0 auto 2rem auto; background-color: white; padding: 2rem; border: 1px solid lightgrey;">
                    <h1 class="header-h1-text text-center">Live Chat</h1>
                    <hr>
                    <br><br>
                    <!--Name-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" value="<%=currentUser.referrerDetails.title + " " + currentUser.referrerDetails.name%>" readonly>
                        <label for="name">Name</label>
                    </div>
                    <!--Content-->
                    <div class="form-floating">
                        <textarea class="form-control" name="content" id="content" style="height: 10rem;" required></textarea>
                        <label for="content">Your message here...</label>
                    </div>
                    <br><br>
                    <div class="button-group" style="width: 100%;">
                        <input type="submit" class="button btn btn-primary" value="Start Live Chat" style="font-family: 'Poppins', sans-serif; width: 45%; margin: 0.25rem;">
                    </div>
                </div>
            </form>
        </div>

        <!--Email-->
        <div id="phone" style="height: auto; border: 1px solid lightgrey; background-color: white; padding: 1rem; width: 50%; margin: 0 auto 2rem auto;">
            <h1 class="header-h1-text text-center">Call</h1>
            <hr>
            <br><br>
            <p class="text-center"><i style="margin-right: 1rem; font-size: 1.5rem;" class="fas fa-phone-alt align-middle"></i> <a class="lead" href="#">+234 (0) 806 019 4496</a></p>
        </div>
    </div>
    <div class="space"></div>
</div>


<%- include("../partials/footer.ejs") %>