<%- include("../partials/header.ejs") %>

<header class="" id="header">
    <h1 class="header-h1-text"></h1>
</header>

<div class="container" style="display: flex; justify-content: center;">
    <div class="livechat overflow-auto">
        
    </div>
</div>

<%- include("../partials/footer.ejs") %>