<%- include("../partials/header.ejs") %>

<div class="container">
    <header class="bg-light p-5 rounded-lg m-3 text-center sticky-sm-top" id="header">
        <h1 class="header-h1-text">Live Chat</h1>
    </header>
</div>

<div class="container" style="display: flex; justify-content: center;">
    <div class="livechat overflow-auto">
        <div class="messages"></div>
        <div class="input">
            <input type="text" class="form-control" placeholder="Start typing...">
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>