<%- include("../partials/header.ejs") %>

<div class="container">
    <header class="bg-light p-5 rounded-lg m-3 text-center sticky-sm-top" id="header">
        <h1 class="header-h1-text">Live Chat</h1>
    </header>
</div>

<div class="container" style="display: flex; justify-content: center;">
    <div class="livechat border border-secondary overflow-auto">
        <div class="messages" style="width: 100%;">
            
        </div>
        <div class="input">
            <form action="/referrers/<%=currentUser._id%>/messages" method="POST" style="margin: ;">
                <div class="input-group mb-3" style="position: absolute; bottom: 0; height: auto; margin: 0;">
                    <input type="text" class="form-control" placeholder="start typing..." name="content" style="border-radius: 0px; height: auto;">
                    <button class="btn btn-primary" type="button">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>