<%- include("../partials/header.ejs") %>

<div class="container" style="display: flex; justify-content: center; align-items: flex-end">

    <div class="livechat overflow-auto">
        
    </div>
</div>

<%- include("../partials/footer.ejs") %>