<%- include("../partials/header.ejs") %>

<div class="container-fluid" id="container-fluid">
    <div class="container">
        <header class="bg-light p-5 rounded-lg m-3 text-center" id="header">
            <%- include("../partials/navbar_nouser.ejs") %>
            <h1 class="header-h1-text">Account Suspended</h1>
        </header>

        <%- include("../partials/alert.ejs") %>
        <br><br><br>

        <div class="container" style="margin: 0 auto; width: 50%; text-align: center; padding: 2rem; border: 1px solid lightgray; border-radius: 10px; background-color: white;">
            <small>Dear user, due  your account has been suspended.</small><br>
            <small>Your account should be approved within 72 hours.</small>
            <small>If your account is not activated after 72 hours and you don't receive confirmation email from us, please send an email to <a href="#">hello@patientrefplatform.com</a> to inform us.</small>
        </div>
        
    </div>
    <div class="space"></div>
</div>

<%- include("../partials/footer.ejs") %>